.filter {
    width: 100vw;
    border-top: 1px solid #2a363b;
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.filter__text {
    font-size: 16px;
}

.filter__input {
    width: 320px;
    margin-left: 10px;
}