@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  color: #2a363b;
  font-family: 'Sira Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: 'Noto Sans', sans-serif;
  margin-left: 10px;
}

.notification {
    margin-left: 20px;
}

li {
  margin-bottom: 10px;
} 
